.codecopy {
    position: relative;
    overflow: visible;
}

.codecopy button.codecopy-btn {
    font-size: 0.9rem;
    box-shadow: none;
    min-height: initial;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    /* background-color: #f8f8ff; */
    /* opacity: 0.5; */
    background-color: transparent;
    padding: 0.2rem;
    border: none;
}
.codecopy-icon {
    margin: 5px 2px 0px 0px;
    width: 15px;
    color: #333;
    fill: red;
    cursor: pointer;
}
