{% macro comments_section(article) %}
    {% set intro = COMMENTS_INTRO %}
    {% if article.comments_intro %}
        {% set intro = article.comments_intro %}
    {% endif %}

    {% set identifier = SITEURL+ '/' + article.url %}

    {% if article.status != 'draft' and article.comments != 'False' %}
        <div class="comment">
            <p id="comment-message" style="color:gray;">{{ intro }} </p>
            <div class="tabs">
                <div class="tab">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1">Comments</label>
                    <div class="tab-content">
                        <script src="https://utteranc.es/client.js"
                                data-repo="{{ UTTERANCES_REPO }}"
                                data-issue-term="{{ identifier }}"
                                data-label="{{ UTTERANCES_LABEL }}"
                                data-theme="{{ UTTERANCES_THEME }}"
                                crossorigin="anonymous"
                                async>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
