{% extends "base.html" %}
{% block title %}
    {{ article.title|striptags|e }} {% if article.subtitle %} - {{ article.subtitle|striptags|e }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
    {% if article.summary %}
        {{ article.summary|striptags|e }}
    {% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
    {% if article.redirect %}
        <meta http-equiv="refresh" content="0;URL={{ article.redirect }}" />
    {% endif %}
    {{ super() }}
    {% if article.tags or article.category or article.keywords %}
        <meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
    {% endif %}

    {% from 'includes/smo.html' import smo_metadata with context %}
    {{ smo_metadata(article) }}
{% endblock meta_tags_in_head %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <div class="post-meta">
        {% include 'includes/last_updated.html' %}
        {% include 'includes/post_stats.html' %}
    </div>

    {% if article.toc %}
        <div class="table-of-content">
            {{ article.toc }}
        </div>
    {% endif %}

    <div class="entry-content">
        {{ article.content }}
    </div>

    <div>
        <!-- Pelican only support single category per article-->
        {% if article.category|trim|count > 0 %}
            {% if article.visible != "False" %}
                <div class="align">
                    <!-- Icon taken from the Minimo theme -->
                    <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true">
                        <path d="M22,19a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V5A2,2,0,0,1,4,3H9l2,3h9a2,2,0,0,1,2,2Z"></path>
                    </svg>
                </div>
                <a class="category-link" href="{{ SITEURL }}/{{ CATEGORIES_URL }}/{{ category.slug }}">{{ article.category }}</a>
            {% endif %}
        {% endif %}
    </div>

    <div>
        {% if article.tags and article.tags[0]|trim|count > 0 %}
            <div class="align">
                <!-- Icon taken from the Minimo theme -->
                <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true">
                    <path d="M20.59,13.41l-7.17,7.17a2,2,0,0,1-2.83,0L2,12V2H12l8.59,8.59A2,2,0,0,1,20.59,13.41Z"></path>
                    <line x1="7" y1="7" x2="7" y2="7"></line>
                </svg>
            </div>
            <ul class="list">
                {% for tag in article.tags|sort %}
                    <li>
                        <a href="{{ SITEURL }}/{{ TAGS_URL }}/{{ tag.slug }}">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% if article.related_posts %}
        <div>
            <p>Continue Reading:</p>
            <ul>
                {% for related_post in article.related_posts %}
                    <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div>
        {% from 'includes/comments.html' import comments_section with context %}
        {{ comments_section(article) }}
    </div>

{% endblock %}
