<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if article and article.author %}
            <meta name="author" content="{{ article.author }}" />
        {% elif page and page.author %}
            <meta name="author" content="{{ page.author }}" />
        {% else %}
            <meta name="author" content="{{ AUTHOR }}" />
        {% endif %}

        {% if SITE_DESCRIPTION %}
            <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock head_description %}" />
        {% endif %}

        {% block meta_tags_in_head %}
            <meta property="og:type" content="article" />
            <meta name="twitter:card" content="summary">
        {% endblock meta_tags_in_head %}

        <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>

        <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" media="screen"/>
    </head>

    <body>
        <div class="lang">
            {% if DEFAULT_LANG == "en" %}
                <a href="{{ PERMANENTURL }}/id/{{ ARCHIVES_URL }}">
                    <img alt="id" src="{{ SITEURL }}/theme/images/id.png" title="Show Indonesian articles" width="20">
                </a>
            {% else %}
                <a href="{{ PERMANENTURL }}/{{ ARCHIVES_URL }}">
                    <img alt="en" src="{{ SITEURL }}/theme/images/gb.png" title="Show English articles" width="20">
                </a>
            {% endif %}
        </div>

        <div class="banner">
            <a href="{{ SITEURL }}">
                <img alt="logo" src="{{ SITEURL }}/theme/images/logo.svg" width="100">
            </a>
            <div>
                <a id="name" href="{{ SITEURL }}"><h1>{{ SITENAME }}</h1></a>
                <nav>
                    <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Blog</a>
                    <a href="{{ SITEURL }}/projects">{{ gettext('Projects') }}</a>
                    <a href="{{ SITEURL }}/about">{{ gettext('About') }}</a>
                </nav>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        {% include 'includes/analytics.html' %}
        {% include 'includes/footer.html' %}
    </body>
</html>
