{% extends "base.html" %}

{% block title %}
    {{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
    {{ super() }}
    {% if LANDING_PAGE_TITLE %}
        <meta property="og:title" content="{{ LANDING_PAGE_TITLE|e }}"/>
        <meta name="twitter:title" content="{{ LANDING_PAGE_TITLE|e }}">
    {% else %}
        <meta property="og:title" content="{{ SITENAME|striptags|e }}"/>
        <meta name="twitter:title" content="{{ SITENAME|striptags|e }}">
    {% endif %}
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
    <meta property="og:article:author" content="{{ AUTHOR }}" />
    {% if FEATURED_IMAGE %}
        <meta property="og:image" content="{{ FEATURED_IMAGE }}" />
        <meta name="twitter:image" content="{{ FEATURED_IMAGE }}" >
    {% endif %}
    {% if SITE_DESCRIPTION %}
        <meta property="og:description" content="{{ SITE_DESCRIPTION|e }}" />
        <meta name="twitter:description" content="{{ SITE_DESCRIPTION|e }}">
    {% endif %}
    <meta name="keywords" content="{% for tag, _ in tags|sort %} {{ tag }}, {% endfor %}{% for category, _ in categories|sort %} {{ category }}, {% endfor %}" />
{% endblock meta_tags_in_head %}

{% block content %}
    <h4 class="motto">
        Solving Hard Things To Make People Live Happily
    </h4>

    {% set landing_page = namespace(page=false) %}
    {% for p in hidden_pages if p.slug == "landing-page" %}
        {% set landing_page.page = p %}
    {% endfor %}
    <div class="article-content">
        {{ landing_page.page.content }}
    </div>
{% endblock content %}
